.main {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}

.nav {
  display: flex;
  width: 72rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: flex;
  height: auto;
  flex-direction: "column";
  justify-content: "center";
}

.detail {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 32rem;
  width: auto;
  max-width: 100rem;
  display: "flex";
  flex-direction: column;
  padding: 50px 70px;
}
.content {
  margin-top: 40px;
  width: 60rem;
  margin-bottom: 40px;
}

.img {
  max-width: 350px;
}
